variables {
    ---legacy-background-color: #0B0C10;
    ---legacy-light-background-color: #0F2235;
    ---legacy-highlight-background-color: #2D223D;
    ---legacy-text-color: #E48300;
    ---legacy-highlightable-text: #258FF9;
    ---legacy-highlight-text-color: #A4FFFC;
    ---legacy-extras-color: #268AAA;
    ---legacy-light-tab-border-color: #72569f;
    ---legacy-tab-color: #191b27;
    ---legacy-light-tab-color: #222434;
    ---legacy-high-contrast-text-highlight: #00AAFF;

    ---generic-background-color: #1E1E1E;
    ---generic-light-background-color: #252526;
    ---generic-highlight-background-color: #2D2D30;
    ---generic-text-color: #CCCCCC;
    ---generic-highlightable-text: #569CD6;
    ---generic-highlight-text-color: #FFFFFF;
    ---generic-extras-color: #9CDCFE;
    ---generic-light-tab-border-color: #007ACC;
    ---generic-tab-color: #2D2D30;
    ---generic-light-tab-color: #37373D;
    ---old-high-contrast-text-highlight: #FFC83D;
} 

QTreeView {
    border: 1px solid var(---generic-background-color);
    border-radius: 10px;
    padding: 10px;
    margin: 0;
    color: var(---generic-text-color);
    background-color: var(---generic-highlight-background-color);
}

QTreeView::item:open {
    color: var(---old-high-contrast-text-highlight);
}

QTreeView::item:hover, QTreeView::item:selected {
    background-color: var(---generic-light-background-color);
    border: none;
}

QTreeView::item:selected {
    color: var(---old-high-contrast-text-highlight);
}

QScrollBar:vertical {
    background-color: var(---generic-light-background-color);
    width: 5px;
    margin: 0;
}

QScrollBar::handle:vertical {
    background-color: var(---generic-extras-color);
    border-radius: 2px;
}

QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background-color: var(---generic-light-background-color);
    image: none;
}






